bin/
obj/
node_modules/
dist/
!extensions/AI.Core/dist/
!extensions/AI.Core/dist/**
!extensions/AI.Tagging/dist/
!extensions/AI.Tagging/dist/**
!extensions/AI.Faces/dist/
!extensions/AI.Faces/dist/**
.vs/
.artifacts/